extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Home

                // map of hotels in tralee
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d39058.892543559814!2d-9.733908848610602!3d52.27641982069681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sHotels!5e0!3m2!1sen!2sie!4v1540500173596" width="750" height="700" frameborder="0" style="border:0" allowfullscreen></iframe>